<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2013 Clover Network, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
    package="com.clover.android.sdk.examples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.clover.android.sdk.examples.MerchantTestActivity"
            android:label="Merchant Test" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.EmployeeTestActivity"
            android:label="Employee Test"
            android:taskAffinity="com.clover.sdk.examples.employee"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.InventoryTestActivity"
            android:label="@string/inventory_test"
            android:taskAffinity="com.clover.sdk.examples.inventory" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.CustomerTestActivity"
            android:label="@string/customer_test"
            android:taskAffinity="com.clover.sdk.examples.customer" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.CashEventTestActivity"
            android:label="@string/cashevent_test"
            android:taskAffinity="com.clover.sdk.examples.cashevent" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.OrderTestActivity"
            android:label="@string/order_test"
            android:taskAffinity="com.clover.sdk.examples.order" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.MainActivity"
            android:label="Clover SDK Examples"
            android:taskAffinity="com.clover.sdk.examples.main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.AppNotificationTestActivity"
            android:label="@string/app_notification_test"
            android:taskAffinity="com.clover.sdk.examples.app" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.InventoryListActivity"
            android:label="@string/inventory_list"
            android:taskAffinity="com.clover.sdk.examples.inventory.list" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.WebServiceActivity"
            android:label="@string/title_activity_web_service" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.CreateCustomTenderTestActivity"
            android:label="@string/create_custom_tender_test" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.CustomTenderHandlerTestActivity"
            android:label="@string/custom_tender_handler_test" >
            <intent-filter>
                <action android:name="clover.intent.action.PAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.PrinterTestActivity"
            android:label="@string/printer_test" >
        </activity>
        <activity
            android:name=".PrintJobsTestActivity"
            android:label="@string/printjob_test" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.PrintTestActivity"
            android:label="@string/print_test" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.ReceiptRegistrationTestActivity"
            android:label="@string/receipt_registration_test" >
        </activity>
        <activity
            android:name="com.clover.android.sdk.examples.AuthenticateEmployeeTestActivity"
            android:label="@string/authenticate_employee" >
        </activity>

        <provider
            android:name="com.clover.android.sdk.examples.ReceiptRegistrationTestProvider"
            android:authorities="com.clover.android.sdk.examples.receipt"
            android:exported="true" />

        <activity
            android:name="com.clover.android.sdk.examples.BarcodeScannerTestActivity"
            android:label="@string/title_activity_barcode_scanner_test" >
        </activity>
    </application>

</manifest>
